<!--
Google IO 2012 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahe <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" src="path-to-mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<head>
  <title>Slideshow</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

{% for slide in slides %}
<slide {% if slide.class %}class="{{- slide.class -}}"{% endif %} {% if slide.image %}style="background-image: url({{- slide.image -}})"{% endif %}>
  {% if 'raw' in slide.class %}
    {{- slide.content -}}
  {% elif 'title' in slide.class %}
    <hgroup>
      <h1>{{- slide.title -}}</h1>
      <h2>{{- slide.subtitle -}}</h2>
      <p>{{- slide.content -}}</p>
    </hgroup>
  {% else %}
    <hgroup>
      <h2>{{- slide.title -}}</h2>
      <h3>{{- slide.subtitle -}}</h3>
    </hgroup>
    <article {% if slide.content_class %}class="{{- slide.content_class -}}"{% endif %}>
    {{- slide.content -}}
    </article>
 {% endif %}
</slide>
{% endfor %}


<slide class="backdrop"></slide>

</slides>

</body>
</html>
